<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhu.mapper.OrderplusMapper">

    <resultMap id="BaseResultMap" type="com.xhu.entity.Orderplus">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userid" column="userid" jdbcType="VARCHAR"/>
            <result property="driverid" column="driverid" jdbcType="VARCHAR"/>
            <result property="callx" column="callx" jdbcType="VARCHAR"/>
            <result property="cally" column="cally" jdbcType="VARCHAR"/>
            <result property="staddr" column="staddr" jdbcType="VARCHAR"/>
            <result property="endx" column="endx" jdbcType="VARCHAR"/>
            <result property="endy" column="endy" jdbcType="VARCHAR"/>
            <result property="endaddr" column="endaddr" jdbcType="VARCHAR"/>
            <result property="statime" column="statime" jdbcType="TIMESTAMP"/>
            <result property="replytime" column="replytime" jdbcType="TIMESTAMP"/>
            <result property="endtime" column="endtime" jdbcType="TIMESTAMP"/>
            <result property="cost" column="cost" jdbcType="DECIMAL"/>
            <result property="milege" column="milege" jdbcType="VARCHAR"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userid,driverid,
        callx,cally,staddr,
        endx,endy,endaddr,
        statime,replytime,endtime,
        cost,milege,code
    </sql>
    <update id="updateCode">
        update orderplus set code = #{code},driverid = #{driverid} where id = #{id}
    </update>
    <update id="updateMilege">
        update orderplus set milege =#{milege} where id = #{id}
    </update>
</mapper>
